.App {
  text-align: center;
  box-sizing: border-box;
}

.board{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(9,1fr);

  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
}

.black{
  background-color: rgba(0, 0, 0, 0.39);
}

.white{
  background-color: white;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}